<div class="vertical-launcher">

<%= link_to "Assignments", assignment_groups_path, class: "vertical-launch" %>
<%= link_to "Analyses", analyses_path, class: "vertical-launch" %>
<%= link_to "Software", software_index_path, class: "vertical-launch" %>
<%= link_to "Datasets", datasets_path, class: "vertical-launch" %>
<%= link_to "How-tos", examples_path, class: "vertical-launch" %>





</div>