<% ## This produces connections that can be interacted with via 
   ## javascript + AJAX. 
%>
<% 
if((@vertical.class == Assignment && @vertical.has_related_assignment?(assignment)) or 
   @vertical.class != Assignment && (@vertical.assignments.exists?(assignment.id)))
  remove_classes = ""
  add_classes = "hidden"
  status = "added"  
else
  remove_classes = "hidden"
  add_classes = ""
  status = ""
end
%>



<% if @vertical != assignment %>
<div data-assignment-id="<%= assignment.id %>" 
    class="assignment index-entry <%= status %>">
  <div class="connect-resource" 
      data-url="<%= vertical_vertical_path(@vertical, assignment) %>">
      
    <button data-action="remove" 
      class="btn btn-sm btn-default remove-connection <%= remove_classes %>"
      >Remove</button>
    <button data-action="add" 
      class="btn btn-sm btn-default add-connection <%= add_classes %>"
      >Add</button>
  </div>

  <span class="entry-data-wrapper">
  <!--
    <span class="name"><%= assignment.name %></span>
    <span class="summary"><%= assignment.summary %></span>
  -->
    <span class="course"><%= assignment.full_title %></span>
    (<span class="instructor"><%= oxford_comma_list assignment.instructors.map{|i| i.last_name} %></span>,
    <span class="date"><%= assignment.semester %></span>)

  </span>
</div>
<% end %>