<div class="container vertical-modification" data-vertical="assignment">
  <h1><%= yield :title %></h1>

  <div class="row">
    <div class="col-md-12 col-md-offset-0">
      <%= form_for(@assignment, url: assignment_group_assignments_path(@assignment_group), method: method, 
        html: {class: "vertical-form"}) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <% unless @vertical.nil? %>
        <%= f.hidden_field @vertical_form_id, name: @vertical_form_id, 
          value: @vertical.id %>
      <% end %>

      <div class="form-group">
        <%= f.label :instructors %><span class="required-input">*</span><br/>
        Add a comma separated list of author (user) ids.
        <%= text_field_tag 'assignment[instructors]', (defined?(@assignment) ? @assignment.instructor_ids_csv : nil), class: "form-control",
          placeholder: "e.g., 1,3,34" %>
      </div>

      <div class="form-group">
        <%= f.label :semester %><span class="required-input">*</span><br/>
        The semester (season and year, e.g., Fall 2018).
        <%= f.text_field :semester, class: "form-control", 
          placeholder: "e.g., Fall 2018" %>
      </div>

      <div class="form-group">
        <%= f.label :course_prefix %><span class="required-input">*</span><br/>
        <%= f.text_field :course_prefix, class: "form-control", 
          placeholder: "e.g., PSY" %>
      </div>

      <div class="form-group">
        <%= f.label :course_number %><span class="required-input">*</span><br/>
        <%= f.text_field :course_number, class: "form-control", 
          placeholder: "e.g., 101" %>
      </div>

      <div class="form-group">
        <%= f.label :course_title %><span class="required-input">*</span><br/>
        <%= f.text_field :course_title, class: "form-control", 
          placeholder: "e.g., Intro to Psychology" %>
      </div>

      <div class="form-group">
        <%= f.label :field_of_study %><span class="required-input">*</span><br/>
        <%= f.text_field :field_of_study, class: "form-control", 
          placeholder: "e.g., Psychology" %>
      </div>

      <div class="form-group">
        <%= f.label :notes %><br/>
        Describe anything particular to this version of the assignment.
        <%= f.text_area :notes,  
          rows: 10, class: "form-control" %>
      </div>


      <div class="form-group">
        <%= f.label :outcome_summary %><br/>
        After the assignment has been completed, describe what went well and what didn't.
        <%= f.text_area :outcome_summary,  
          rows: 10, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :learning_curve %> <br/>
        <%= f.radio_button :learning_curve, 'Low' %> Low
        <%= f.radio_button :learning_curve, 'Medium' %> Medium
        <%= f.radio_button :learning_curve, 'High' %> High
      </div>

      <div class="form-group">
        <%= f.label :hours_of_instruction %> <br/>
        How many hours of in-class instruction is this assignment expected to require?
        <%= f.number_field :instruction_hours, class: "form-control", 
          placeholder: "e.g., 5" %>
      </div>


      <div class="form-group">
        <%= f.label :students_given_assignment %> <br/>
        How many student were given the assignment?
        <%= f.number_field :students_given_assignment, class: "form-control", 
          placeholder: "e.g., 15" %>
      </div>

      <div class="form-group">
        <%= f.label :project_length_weeks %> <br/>
        How many weeks were students given to complete the project?
        <%= f.number_field :project_length_weeks, class: "form-control", 
          placeholder: "e.g., 2" %>
      </div>

      <p>
      You will have an opportunity to add attachments, resource links, and examples after you
      save.
      </p>

      <%= f.submit "Save", 
        id: "form-submit", class: "btn btn-primary" %>

      
      <button class="btn btn-danger link no-submit"
        data-href="<%= url_for :back %>">Cancel</button>
          
      <% end %>

    </div>
  </div>


</div>