<% provide(:title, @assignment.name) %>
<div class="container assignment-page" data-assignment-id="<%= @assignment.id %>">
  <h1><span class="name"><%= @assignment.name %></span>
  <% if can_edit? %>
    <%= link_to edit_assignment_path(@assignment.id)  do %>
      <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
      </button>
    <% end %>

    <%= link_to @assignment, method: :delete, data: {
        confirm: "Are you sure you want to delete this page?"} do %> 
      <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> 
      Delete </button>
    <% end %>
  <% end %>
  </h1>

  <div class="metadata-wrapper">
    <h2>Metadata</h2>
    <table class="metadata">
      <tr>
        <th>Author</th>
        <td class="author"><%= @assignment.author %></td>
      </tr>
      <tr>
        <th>Learning curve</th>
        <td class="learning_curve"><%= @assignment.learning_curve %></td>
      </tr>
      <tr>
        <th>Expected instruction hours</th>
        <td class="instruction_hours"><%= @assignment.instruction_hours %></td>
      </tr>
    </table>
  </div>
  
  <div class="summary-wrapper">
    <h2>Summary</h2>
    <span class="summary"><%= @assignment.summary %></span>
  </div>

  <div class="description-wrapper">
    <h2>Description</h2>
    <iframe class="description embed-html" 
      data-html="<%= url_encode @assignment.description.html_safe %>"></iframe>
  </div>


  <%= render(partial: "verticals_shared/related_vertical",
    locals: {title: "Assignments this assignment links to", 
             vertical_from: @assignment, 
             vertical_to: Assignment.new, 
             data: @assignment.assignments_related_to,
             editable: true }) %>


  <%= render(partial: "verticals_shared/related_vertical",
    locals: {title: "Assignments that link to this one", 
             vertical_from: @assignment, 
             vertical_to: Assignment.new, 
             data: @assignment.assignments_related_from}) %>

  <div class="tags">
    <h2>Tags</h2>
    <% if can_edit? %>
      <a href="<%= new_vertical_tag_path @assignment %>"
        ><button class="btn btn-sm btn-default">Add new</button
      ></a>
      <a href="<%= vertical_tag_index_path @assignment %>"
        ><button class="btn btn-sm btn-default">Add existing</button
      ></a>
    <% end %>
    <ul>
      <%= render(partial: "tags/tag_list_item", 
        collection: sort_by(@assignment.tags, :text), as: :tag,
        locals: {print_header: true, vertical: @assignment}) || 
        "There are currently no tags associated with this assignment." %>
    </ul>
  </div>

  <div class="web-resources">
    <h2>Web resources</h2>
    <% if can_edit? %>
      <a href="<%= new_vertical_web_resource_path @assignment %>"
        ><button class="btn btn-sm btn-default">Add new</button
      ></a>
      <a href="<%= vertical_web_resource_index_path @assignment %>"
        ><button class="btn btn-sm btn-default">Add existing</button
      ></a>
    <% end %>
    <ul>
      <%= render(partial: "web_resources/web_resource_list_item", 
        collection: sort_by(@assignment.web_resources, :description), 
        as: :web_resource, 
        locals: {print_header: true, vertical: @assignment}) || 
        "There are currently no web resources associated with this assignment." %>
    </ul>
  </div>


  <%= render(partial: "verticals_shared/related_vertical",
    locals: {title: "Related software", 
             vertical_from: @assignment, 
             vertical_to: Software.new, 
             editable: true }) %>


  <%= render(partial: "verticals_shared/related_vertical",
    locals: {title: "Related analyses", 
             vertical_from: @assignment, 
             vertical_to: Analysis.new, 
             editable: true }) %>


  <%= render(partial: "verticals_shared/related_vertical",
    locals: {title: "Related datasets", 
             vertical_from: @assignment, 
             vertical_to: Dataset.new, 
             editable: true }) %>


  <div class="examples">
    <h2>Examples</h2>
    <% if can_edit? %>
      <a href="<%= new_vertical_example_path @assignment %>"
        ><button class="btn btn-sm btn-default">Add new</button
      ></a>
      <a href="<%= vertical_example_index_path @assignment %>"
        ><button class="btn btn-sm btn-default">Add existing</button
      ></a>
    <% end %>

    <%= render(partial: "examples/example", 
      collection: sort_by(@assignment.examples, :title), 
      locals: {print_header: true, vertical: @assignment}) || 
      "<p>There are currently no examples associated with this assignment.</p>".html_safe %>
  </div>


  <div class="assignment-results">
   <h2>Results</h2>
    <% if can_edit? %>
      <a href="<%= new_assignment_assignment_result_path @assignment %>"
        ><button class="btn btn-sm btn-default">Add new</button
      ></a>
    <% end %>
    <ul>
      <%= render(partial: "assignment_results/assignment_result_list_item", 
        collection: sort_by(@assignment.assignment_results, :semester), 
        as: :assignment_result, 
        locals: {print_header: true, assignment: @assignment}) || 
        "There are currently no results for this assignment." %>
    </ul>
  </div>

  </div>
</div>
