<% 
itemsPerRow = 3 

## Character/list limits.
title_max = 100
summary_max = 200
field_of_study_max = 300;
versions_limit = -1 ## most recent
%>

<% if @i % itemsPerRow == 0 %>
<div class="row">
<% end %>

<div class="col-md-4">
  <div class="dataset index-entry">
    <a href="<%= dataset_path(dataset) %>" 
      data-dataset-id="<%= dataset.id %>"
      ><%= render(partial: "verticals_shared/listing_thumbnail", 
          locals: {vertical: dataset}) %></a>

    <div class="item-content">
      <a href="<%= dataset_path(dataset) %>" 
      data-dataset-id="<%= dataset.id %>"><span class="name"><%= get_snippet(dataset.name, title_max) %></span></a>

      <span class="metadata">
        <span class="author"><%= dataset.creator.full_name %></span> 
      </span>

      <span class="summary"><%= get_snippet(dataset.summary, summary_max) %></span>
    </div>

    <div class="item-footer">
      <span class="metadata">
        <% 
        fields_of_study = dataset.assignments.map{|a| a.field_of_study}.uniq 
        unless fields_of_study.nil? or fields_of_study.size == 0  %>
          <span class="fields-of-study">
            Used in: 
            <%=  get_snippet(oxford_comma_list(fields_of_study), field_of_study_max) %>
            </span>
        <% end   %>

      </span>
    </div>
  </div>
</div> <%# End col-md-3 %>

<% if @i == @total-1 || @i % itemsPerRow == itemsPerRow-1 %>
</div>
<% end %>

<% @i += 1 %>


<% if false %>
<div class="dataset index-entry">
  <a href="<%= dataset_path(dataset.id) %>" 
    data-dataset-id="<%= dataset.id %>">
    <span class="name"><%= dataset.name %></span>
  </a>
  <span class="metadata"></span>

  <span class="summary"><%= dataset.summary %></span>

  <span class="metadata">
    <span class="date">Added on <%= dataset.created_at.strftime('%B %d, %Y') %> by <%= dataset.creator.username %></span>
    &mdash;

    <span class="used-in">Used in <%= dataset.assignments.size %> <%= 'assignment'.pluralize(dataset.assignments.size) %> and <%= dataset.examples.size %> <%= 'example'.pluralize(dataset.examples.size) %></span><br/>
    
    <span class="tags"><%= render(partial: "tags/tag_badge", 
    collection: sort_by(dataset.tags, :text), as: :tag) %></span>
  </span>
  
</div>
<% end %>