<% provide(:title, "Settings") %>

<div class="row settings">
  <div class="col-md-6 col-md-offset-3">
  <h1>Update your profile</h1>

    <div class="form-container">
      <p class="instructions">
      <% if @user.is_stub? %>
        This is a stub account (another user created it as a placeholder, e.g.,
        to include you as an author or instructor). You have now claimed the
        account by confirming your email address. However, in order to activate
        this account, you must supply the information below. Please also update
        any information that is present but incorrect. You may also choose a new
        username.
      <% else %>
        Edit your current information.
      <% end %>
      </p> 
        <%= form_for(@user) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          
          <!-- reCAPTCHA -->
          <%= recaptcha_tags %>

          <div class="form-group">
            <%= f.label :username %> (1&ndash;50 characters)
            <%= f.text_field :username, value: @user.username, 
              class: 'form-control', placeholder: 'e.g., psmith' %>
          </div>

          <div class="form-group">
            <%= f.label :first_name %> (1&ndash;50 characters)
            <%= f.text_field :first_name, value: @user.first_name, 
              class: 'form-control', placeholder: 'e.g., Pat' %>
          </div>

          <div class="form-group">
            <%= f.label :last_name %> (1&ndash;50 characters)
            <%= f.text_field :last_name, value: @user.last_name, 
              class: 'form-control', placeholder: 'e.g., Smith'%>
          </div>

          <div class="form-group">
            <%= f.label :role %>
            <div class="radio">
              <label>
                <%= f.radio_button :role, :faculty, 
                  selected: @user.role == "faculty" %> Faculty/staff
              </label>
            </div>
            <div class="radio">
              <label>
                <%= f.radio_button :role, :student, 
                  selected: @user.role == "student" %> Student
              </label>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :primary_field_of_study %>
            <%= f.text_field :field_of_study, value: @user.field_of_study, 
              class: 'form-control', placeholder: 'e.g., Criminal Justice' %>
          </div>

          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, value: @user.email, class: 'form-control', 
              placeholder: 'e.g., jsmith@mail.com' %>
          </div>

          <div class="form-group">
            <%= f.label :current_password %>
            <%= f.password_field :current_password, class: 'form-control', 
                placeholder: "Enter your current password" %>
          </div>

          <!-- Permissions. -->
          <div class="form-group">
            <h3>Permissions</h3>
            <div class="radio">
              <label>
                <%= f.radio_button :permission_level, :viewer %>
                <strong>Viewer</strong>
                <p>
                  This option will give you the ability to view other users and
                  any content on the site. This does not require review by a
                  site admin.
                </p>
              </label>
            </div>
            <div class="radio">
              <label>
                <%= f.radio_button :permission_level, :editor %>
                <strong>Editor</strong>
                <p>
                  This option allows you to view other users and create, view,
                  and edit site content. This requires review by a site admin.
                </p>      
              </label>
            </div>
            <div class="radio">
              <label>
                <%= f.radio_button :permission_level, :admin %>
                <strong>Administrator</strong>
                <p>
                  This gives you the ability to view and edit content, as well
                  as grant permissions to other users. This requires review by a
                  site admin.
                </p>      
              </label>
            </div>
          </div>


          <%= f.submit "Update information", class: "btn btn-primary" %>
          
          <button class="btn btn-danger link no-submit" 
            data-href="<%= url_for :back %>">Cancel</button>
            
        <% end %>
    </div>


    <div class="form-container">
      <p class="instructions">
      Change your password.
      </p>
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <div class="form-group">
          <%= f.label :current_password %>
          <%= f.password_field :current_password, class: 'form-control', 
              placeholder: "Enter your current password" %>
        </div>

        <div class="form-group">
        <%= f.label :new_password %>
        <%= f.password_field :password, class: 'form-control', 
            placeholder: "Enter your new password" %>
        </div>

        <div class="form-group">
        <%= f.label :password_confirmation, "Confirm password" %>
        <%= f.password_field :password_confirmation, class: 'form-control', 
            placeholder: "Repeat your new password" %>
        </div>

        <%= f.submit "Change password", class: "btn btn-primary" %>
        
        <button class="btn btn-danger link no-submit" 
          data-href="<%= url_for :back %>">Cancel</button>
          
      <% end %>
    </div>
  </div>
</div>