<div class="container vertical-modification" data-vertical="analysis">
  <h1><%= yield :title %></h1>

  <div class="row">
    <div class="col-md-12 col-md-offset-0">
      <%= form_for(@analysis, url: action, method: method, 
        html: {class: "vertical-form"}) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <% unless @vertical.nil? %>
        <%= f.hidden_field @vertical_form_id, name: @vertical_form_id, 
          value: @vertical.id %>
      <% end %>

      <div class="form-group">
        <%= f.label :name %><span class="required-input">*</span> 
        (max 200 characters)
        <%= f.text_field :name, class: "form-control", 
          placeholder: "e.g., Network analysis" %>
      </div>

      <div class="form-group">
        <%= f.label :summary %><span class="required-input">*</span><br/>
        This should be a short overview of the analysis.
        <%= f.text_area :summary, class: "form-control",
          placeholder: "e.g., Represent data as a set of nodes and connections, then calculate network metrics over the data." %>
      </div>

      <div class="form-group">
        <%= f.label :description %><span class="required-input">*</span><br/>
        This should be a detailed description of the analysis and how to use it.
        <%= f.bootsy_area :description,  
          rows: 10, class: "form-control add-to-vertical unchanged",
          editor_options: bootsy_editing_options %>

      </div>

      <p>
      You will have an opportunity to add resource links and examples after you
      save.
      </p>

      <%= f.submit "Save", 
        id: "form-submit", class: "btn btn-primary" %>

      
      <button class="btn btn-danger link no-submit" 
        data-href="<%= @analysis.id.nil? ? analyses_path : 
          analysis_path(@analysis) %>">Cancel</button>

      <% end %>
    </div>
  </div>


</div>