<% provide(:title, "Connect analysises") %>
<div class="container resource-modification">
  <h1><%= yield :title %></h1>
  <p>
  Choose analyses to associate with
  <%= link_to @vertical.name, get_vertical_path(@vertical) %>.
  </p>

  <a href="<%= get_vertical_path(@vertical) %>"
    ><button class="btn btn-md btn-default">Done</button
  ></a>

  <div class="row">
    <div class="col-md-12 col-md-offset-0">
      <% if @analyses.empty? %>
        <% if @vertical.class == Analysis %>
          No other analyses exist yet!
        <% else %>
          No analyses exist yet!
        <% end %>
      <% else %>
        <h2>Analyses</h2>
        <div class="connection-index">
          <%= render partial: 'analysis_index_item', 
            collection: @analyses, as: :analysis %>
        </div>
      <% end %> 
    </div>
  </div>
  
  <a href="<%= get_vertical_path(@vertical) %>"
    ><button class="btn btn-md btn-default">Done</button
  ></a>
  
</div>
