<div class="container vertical-modification" data-vertical="software">
  <h1><%= yield :title %></h1>

  <div class="row">
    <div class="col-md-12 col-md-offset-0">
      <%= form_for(@software, url: action, method: method, 
        html: {class: "vertical-form"}) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <% unless @software.id.nil? %>
      <input type="hidden" value="<%= @software.id %>" name="id"/>
      <% end %>

      <div class="form-group">
        <%= f.label :name %><span class="required-input">*</span> 
        (max 200 characters)
        <input type="text" name="name" 
          class="form-control add-to-vertical unchanged", 
          placeholder="e.g., NodeXL" value="<%= @software.name %>"/>
      </div>

      <div class="form-group">
        <%= f.label :thumbnail %><br/>
        Select a non-copyrighted image that is representative of this software.
        <br/>
        <!-- <button class="btn btn-primary" id="select-thumbnail"
          >Select thumbnail</button> -->

        <div id="vertical-thumbnail">
          <% unless @software.thumbnail_url.nil? %>
            <img src="<%= @software.thumbnail_url.nil %>"/>
          <% end %>
        </div>
        <input type="text" value="<%= @software.thumbnail_url %>" 
          name="thumbnail_url" class="form-control add-to-vertical unchanged"
      </div>


      <div class="form-group">
        <%= f.label :summary %><span class="required-input">*</span><br/>
        This should be a short overview of the software.
        <textarea name="summary" class="form-control add-to-vertical unchanged"
          placeholder="e.g., An Excel plugin that allows you to create and manipulate network diagrams."
          ><%= @software.summary %></textarea>
      </div>

      <div class="form-group">
        <%= f.label :description %><span class="required-input">*</span><br/>
        This should be a detailed description of the software and how to use it.
        <%= f.bootsy_area :description, name: "description",  
          rows: 10, class: "form-control add-to-vertical unchanged" %>

      </div>

      <p>
      You will have an opportunity to add resource links and examples after you
      save.
      </p>

      <%= f.submit "Save", 
        id: "form-submit", class: "btn btn-primary" %>

      
      <button class="btn btn-danger link" 
        data-href="<%= @software.id.nil? ? software_index_path : 
          software_path(@software) %>">Cancel</button>

      <% end %>
    </div>
  </div>


</div>