<div data-assignment_group-id="<%= assignment_group.id %>" class="assignment_group vertical-result-data index-entry">

  <a href="<%= assignment_group_path(assignment_group.id) %>" 
    data-assignment_group-id="<%= assignment_group.id %>"><span class="name"><%= assignment_group.name %></span></a>

  <span class="metadata"><span class="author"><%= assignment_group.authors.map{|a| a.full_name}.join(", ") %></span> <span class="date">(<%= assignment_group.created_at.strftime('%B %Y') %>)</span></span>

  <span class="summary"><%= assignment_group.summary %></span>

  <span class="metadata">
    <span class="added-by">Added on <%= assignment_group.created_at.strftime('%B %d, %Y') %> by <%= assignment_group.creator.username %></span>
    &mdash;

    <span class="years">Taught <%= assignment_group.assignments.size %> <%= 'time'.pluralize(assignment_group.assignments.size) %></span><br/>
    
    <span class="tags"><%= render(partial: "tags/tag_badge", 
    collection: sort_by(assignment_group.tags, :text), as: :tag) %></span>
  </span>

</div>
