<div class="container vertical-modification" data-vertical="assignment_group">
  <h1><%= yield :title %></h1>

  <div class="row">
    <div class="col-md-12 col-md-offset-0">
      <%= form_for(@assignment_group, url: action, method: method, 
        html: {multipart: true, class: "vertical-form"}) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <% unless @vertical.nil? %>
        <%= f.hidden_field @vertical_form_id, name: @vertical_form_id, 
          value: @vertical.id %>
      <% end %>

      <% unless @assignment_id.nil? %>
        <%= hidden_field_tag 'redirect_path', assignment_group_assignment_path(@assignment_group, @assignment_id) %>
      <% end %>

      <div class="form-group">
        <%= f.label :assignment_name %><span class="required-input">*</span> 
        (max 200 characters)
        <%= f.text_field :name, class: "form-control", 
          placeholder: "e.g., Analyze your social network" %>
      </div>

      <%# Thumnail selection. %>
      <div class="form-group">
        <%= f.label :thumbnail %>
        <%= image_tag(@assignment_group.thumbnail.tiny.url) if @assignment_group.thumbnail? %>
        <%= f.file_field :thumbnail %>
        <%= f.hidden_field :thumbnail_cache %>
      </div>

      <div class="form-group">
        <%= f.label :authors %><span class="required-input">*</span><br/>
        Add one or more authors (users).
        <%= hidden_field_tag 'assignment_group[authors]', (defined?(@assignment_group) ? @assignment_group.author_ids_csv : nil),
        class: "user-search-target" %>

        Search for a user to add as author by name, username, or email: 
        <div class="ui-widget user-search-wrapper">
          <input id="user-search" autocomplete="off">
          <div id="picked-users">
            <% if defined? @assignment_group %>
              <% @assignment_group.authors.each do |u| %>
                <span class="user" data-id="<%= u.id %>"><span class="name"><%= u.full_name %> (<%= u.username %>)</span><span class="remove-user"><span class="glyphicon glyphicon-remove"></span></span></span>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="add-stub-user-modal-button-wrapper">
          Can't find an author you want? Create a stub account for them: 
          <%= render(partial: "users/stub_user_form_trigger") %>
        </div>

      </div>

      <div class="form-group">
        <%= f.label :summary %><span class="required-input">*</span><br/>
        This should be a short, one sentence overview of the assignment. This will appear in the assignments listing and search results.
        <%= f.text_area :summary, class: "form-control",
          placeholder: "e.g., Represent data as a set of nodes and connections, then calculate network metrics over the data." %>
      </div>

      <div class="form-group">
        <%= f.label :description %><br/>
        This should be a general overview of the assignment and the motivation for it. It should not include instructions.
        <%= f.bootsy_area :description,  
          rows: 10, class: "form-control add-to-vertical unchanged",
          editor_options: bootsy_editing_options %>
      </div>


<!--
      <p>
      You will have an opportunity to add attachments, resource links, and examples after you
      save.
      </p>
-->
      <%= f.submit "Save", 
        id: "form-submit", class: "btn btn-primary" %>

      
      <button class="btn btn-danger link no-submit"
        data-href="<%= url_for :back %>">Cancel</button>
          
      <% end %>

    </div>
  </div>

  <%= render(partial: "users/stub_user_form") %>


</div>