<%#
Allows the following:
  @assignment_group
  @assignment -- if included, embeds the assignment page.
%>

<% @assignment = nil unless defined? @assignment %>

<% provide(:title, @assignment_group.name) %>
<div class="container-fluid assignment-page" data-assignment_group-id="<%= @assignment_group.id %>">

  <div class="vertical-header">
    <h1 class="name"><span class="name-text"><%= @assignment_group.name %></span>
    <% if can_edit? %>
    <button type="button" class="btn btn-primary btn-sm edit-toggle enable-editing">
      Enable editing
    </button>
    <button type="button" class="btn btn-primary btn-sm edit-toggle disable-editing">
      Disable editing
    </button>

    <span class="edit-toggle">
      <a href="<%= edit_assignment_group_path(@assignment_group.id) %><%= "?assignment_id=#{@assignment.id}" unless @assignment.nil? %>"  
      ><button type="button" class="btn btn-link btn-sm" data-toggle="tooltip" title="Edit Assignment">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      </button
      ></a>
      <%= link_to @assignment_group, method: :delete, data: {
        confirm: "Are you sure you want to delete this page?"} do  
      %><button type="button" class="btn btn-link btn-sm x-btn" data-toggle="tooltip" title="Delete Assignment">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 
      </button
      ><% end %>
    </span>
    <% end %>
    </h1>
  </div>


  <div class="row"> <%# Start row. %>
    <div class="col-sm-8">

      <%= render(partial: "tags/tag_list",
        locals: {title: "Tags:", 
                vertical_from: @assignment_group, 
                editable: true,
                title_tag: :span  }) %>



      <div class="row">
        <div class="col-sm-12 summary-wrapper">
            <%# <span class="summary-title">Summary:</span> %>
            <span class="summary"><%= @assignment_group.summary %></span>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 description-wrapper">
          <h2>Overview</h2>
          <div class="description">
              <%= sanitize_text(@assignment_group.description).html_safe %>
          </div>
        </div>
      </div>

      <% if false %>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="assignments">
                      <h2>Versions of assignment by class
                        <% if can_edit? %>
                          <span class="edit-toggle">
                          <a href="<%= new_assignment_group_assignment_path @assignment_group %>">
                            <button class="btn btn-sm btn-link" data-toggle="tooltip" title="Add a new class">
                              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                          </a>
                          </span>
                        <% end %>
                      </h2>
                      <ul>
                        <%= render(partial: "assignments/assignment_list_item", 
                        collection: sort_by(@assignment_group.assignments, :created_at), 
                        as: :assignment, 
                        locals: {print_header: true, assignment_group: @assignment_group}) || 
                        "There are currently no assignments." %>
                      </ul>
                    </div>
                  </div>
                </div>
      <% end %>

    </div>

    <div class="col-sm-4">
      <div class="row">
        <%= render(partial: "verticals_shared/show_thumbnail", 
          locals: {vertical: @assignment_group}) %>
      </div>
      <div class="metadata-wrapper">
        <!-- <h2>Metadata</h2> -->
        <div class="metadata">
          <div class="row">
            <div class="col">

              <% if @assignment_group.authors.size <= 1 %>
                <b>Author:</b> 

                <%# No authors (not good!!) %>
                <% if @assignment_group.authors.size == 0 %>
                  No author assigned!

                <%# One author. %>
                <% else %>
                  <span class="author"><%= @assignment_group.authors.first.full_name %></span>
                <% end %>

              <%# Multiple authors. %>
              <% else %>
                <b>Authors:</b>
                <ul class="authors">
                  <% @assignment_group.authors.each do |author| %>
                    <li><span class=\"author\"><%= author.full_name %></span></li>
                  <% end %>
                </ul>
              <% end %>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <b>Web links:
                <% if can_edit? %>
                  <span class="edit-toggle">
                  <a href="<%= vertical_web_resource_index_path @assignment_group %>">
                    <button class="btn btn-sm btn-link" data-toggle="tooltip" title="New web resource">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                  </button>
                  </a>
                  <!-- got merged into ^^
                  <%-# new_vertical_web_resource_path @assignment -%>
                  -->
                  </span>
                <% end %>
              </b>
              <ul>
                <%= render(partial: "web_resources/web_resource_list_item", 
                collection: sort_by(@assignment_group.web_resources, :description), 
                as: :web_resource, 
                locals: {print_header: true, vertical: @assignment_group}) || 
                "<span class=\"no-data\">There are currently no web resources associated with this assignment group.</span>".html_safe %>
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="assignments">
                <b>Versions of assignment by class:
                  <% if can_edit? %>
                    <span class="edit-toggle">
                    <a href="<%= new_assignment_group_assignment_path @assignment_group %>">
                      <button class="btn btn-sm btn-link" data-toggle="tooltip" title="Add a new class">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                      </button>
                    </a>
                    </span>
                  <% end %>
                </b>
                <ul>
                  <%= render(partial: "assignments/assignment_list_item", 
                  collection: sort_by(@assignment_group.assignments, :created_at), 
                  as: :assignment, 
                  locals: {assignment_group: @assignment_group, target_assignment_id: @assignment.nil? ? "" : @assignment.id }) || 
                  "<i>There are currently no assignments.</i>".html_safe %>
                </ul>
              </div>
            </div>
          </div>
            
        </div>
      </div>
    </div>

  </div> <%# End row. %>

  <%= render sort_by(@assignment_group.assignments, :created_at), as: :assignment %>




  <% if false %>
    <% unless @assignment.nil? %>
    <hr>   
    <div class="row"> <%# Start row. %>

    <%= render @assignment %>


    </div> <%# End row. %>
    <% end %>
  <% end %>

</div>


