<div data-example-id="<%= example.id %>" class="example index-entry">

  <div class="connect-resource">
    <%= form_for(example, url: vertical_example_path(@vertical, example), 
        method: :post, html: {style: 'display: inline'}) do |f| %>
      <% if @vertical.examples.exists?(example.id) %>
        <button class="btn btn-sm btn-default" disabled="disabled">Already added</button>
      <% else %>
        <button class="btn btn-sm btn-default">Add</button>
      <% end %>
    <% end %>
  </div>

  <a href="<%= example_path(example) %>" class="entry-data-wrapper">
    <span class="name"><%= example.title %></span>
    <% clean_description = strip_tags example.description %>
    <% clean_description = clean_description[0..100] + '...' if 
      clean_description.size > 100 %>
    <span class="snippet"><%= clean_description %></span>
  </a>
</div>