
<% if print_header %>
<h3><%= example.title %></h3>
<% end %>

<% if can_edit? %>
  <% if defined? vertical %>
    <%= form_for(example, method: :delete,
        url: vertical_example_path(vertical, example)) do |f| %>
      <button class="btn btn-sm btn-danger">Remove example</button>
    <% end %>
    <%= form_for(example, method: :get,
       url: edit_vertical_example_path(vertical, example)) do |f| %>
      <button class="btn btn-sm btn-default">Edit example</button>
    <% end %>
  <% else %>
    <%= form_for(example, method: :get,
       url: edit_example_path(example)) do |f| %>
      <button class="btn btn-sm btn-default">Edit example</button>
    <% end %>
  <% end %>
<% end %>

<iframe class="html-value description embed-html"
  data-html="<%= url_encode example.description.html_safe %>">
</iframe>