<% ## This produces connections that can be interacted with via 
   ## javascript + AJAX. 
%>
<% 
if @vertical.examples.exists?(example.id)
  remove_classes = ""
  add_classes = "hidden"
  status = "added"  
else
  remove_classes = "hidden"
  add_classes = ""
  status = ""
end
%>
  

<div data-example-id="<%= example.id %>" 
    class="example index-entry <%= status %>">
  <div class="connect-resource" 
      data-url="<%= vertical_example_path(@vertical, example) %>">
      
    <button data-action="remove" 
      class="btn btn-sm btn-default remove-connection <%= remove_classes %>"
      >Remove</button>
    <button data-action="add" 
      class="btn btn-sm btn-default add-connection <%= add_classes %>"
      >Add</button>
  </div>

  <a href="<%= example_path(example) %>" class="entry-data-wrapper">
    <span class="name"><%= example.title %></span>
    <% clean_description = strip_tags example.description %>
    <% clean_description = clean_description[0..100] + '...' if 
      clean_description.size > 100 %>
    <span class="snippet"><%= clean_description %></span>
  </a>
</div>