<div <%= "id=#{id}" if defined? id %> 
  class="resource-form unchanged<%= " saved" unless example.id.nil? %>">
  <h3>Example <button class="btn btn-sm btn-danger remove">Remove</button></h3>
  
  <% unless example.id.nil? %>
  <input type="hidden" name="id" value="<%= example.id %>" class="ignore"/>
  <% end %>

  <!-- Title -->
  <div class="form-group">
    <label>Title</label><span class="required-input">*</span> 
    (max 200 characters)
    <input class="form-control ignore unchanged" type="text" name="title"
      placeholder="e.g., Creating a simple NodeXL graph" 
      value="<%= example.title %>"/>
  </div>    

  <!-- Description -->
  <div class="form-group">
    <label>Description</label><span class="required-input">*</span> 

    <% set_botsy_text_area = example.id.nil? ? "set_botsy_text_area" : "" %>
    <%= bootsy_area @gallery, nil, container: @gallery, 
        value: example.description, name: "description",  rows: 10,
          class: "form-control ignore unchanged #{set_botsy_text_area}" %>

<!--     <textarea class="form-control ignore unchanged set_bootsy_text_area" 
      name="description" rows="10"><%= example.description %></textarea>-->
    
  </div>
</div>