<div class="container resource-modification">
  <h1><%= yield :title %></h1>

  <div class="row">
    <div class="col-md-12 col-md-offset-0">
      <%= form_for(@web_resource, url: action, method: method, 
        html: {class: "vertical-form"}) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        
        <% unless @vertical.nil? %>
          <%= f.hidden_field @vertical_form_id, name: @vertical_form_id, 
            value: @vertical.id %>
        <% end %>

        <!-- URL -->
        <div class="form-group">
          <label>URL</label><span class="required-input">*</span>
          (max length: 200 characters)
          <%= f.text_field :url, 
            class: "form-control ignore unchanged",
            placeholder: "e.g., http://nodexlgraphgallery.org" %>
        </div>    

        <!-- Description -->
        <div class="form-group">
          <label>Description</label><span class="required-input">* </span>
          (max length: 200 characters)

          <%= f.text_field :description, 
            class: "form-control ignore unchanged", 
            placeholder: "e.g., NodeXL Graph Gallery" %>    
        </div>

        <%= f.submit "Save", id: "form-submit", class: "btn btn-primary" %>

        
        <button class="btn btn-danger link" 
          data-href="<%= @back_path %>">Cancel</button>
      <% end %>
    </div>
  </div>
</div>