<% ## This produces connections that can be interacted with via 
   ## javascript + AJAX. 
%>
<% 
if @vertical.web_resources.exists?(web_resource.id)
  remove_classes = ""
  add_classes = "hidden"
  status = "added"  
else
  remove_classes = "hidden"
  add_classes = ""
  status = ""
end
%>


<div data-web_resource-id="<%= web_resource.id %>" 
    class="web_resource index-entry<%= status %>">
  <div class="connect-resource" 
      data-url="<%= vertical_web_resource_path(@vertical, web_resource) %>">
      
    <button data-action="remove" 
      class="btn btn-sm btn-default remove-connection <%= remove_classes %>"
      >Remove</button>
    <button data-action="add" 
      class="btn btn-sm btn-default add-connection <%= add_classes %>"
      >Add</button>
  </div>

  <span class="entry-data-wrapper">
    <span class="name"><%= 
      link_to web_resource.description, web_resource_path(web_resource) %></span>
    <span class="snippet"><%= link_to web_resource.url, web_resource.url %></span>
  </span>
</div>